/* IMPORTS */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url(//fonts.googleapis.com/css?family=Vibur);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Tangsa:wght@400;700&family=Raleway:wght@600&family=Roboto:ital,wght@0,100;0,300;0,500;0,700;1,300&family=Sriracha&display=swap');


/* GENERAL */

html{
  scroll-behavior: smooth;
}

*{
  margin: 0;
  box-sizing: border-box;
}

.container{
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

/* SCROLLBAR */

::-webkit-scrollbar{
  background-color: #111;
}

::-webkit-scrollbar-thumb{
  background-color: #555;
}

/* HEADER */

header{
  background-color: #14101e;
}

nav{
  display: flex;
  position: fixed;
  width: 100%;
  padding: 2rem 0;
  background-color: #111;
  color: white;
  border-bottom: 1px solid #777;
  z-index: 2;
}

nav div{
  flex: 1;
  align-self: center;
  margin: auto 5rem;
}

.right-side-nav ul{
  display: flex;
}

.right-side-nav ul li{
  padding: 5px 1rem;
  list-style: none;
  text-align: center;
  align-self: center;
  transition: ease 0.2s;
}

.right-side-nav li:hover{
  border-left: 4px solid salmon;
  border-radius: 1px;
}

.right-side-nav ul li:last-child:hover{
  border-left: none;
}

.right-side-nav a{
  text-decoration: none;
  color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  text-shadow: 1px 1px 1px #222;
}

.right-side-nav select{
  padding: 7px 10px;
  background-color: #111;
  border: 1px solid #DDD;
  border-radius: 5px;
  color: #ddd;
  cursor: pointer;
}

.left-side-nav{
  display: flex;
  align-self: center;
}

.left-side-nav a img{
  width: 120px;
}

.left-side-nav a{
  text-decoration: none;
}

.hero{
  display: flex;
  flex-direction: column;
  height: 600px;
  background: white;
  justify-content: center;
}

/* .hero-one{
  width: 50%;
  height: 50%;
}

.hero-one img{
  width: 90%;
  align-self: center;
} */

.hero-one{
  align-self: center;
}

.hero-one h1{ 
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid #E06F53; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .05em; /* Adjust as needed */
  font-size: 64px;
  animation: 
    typing 3.5s steps(50, end),
    blink-caret .75s step-end infinite;
}

.hero-two{
  align-self: center;
}

.hero-two h1{
  overflow: hidden;
  width: 0;
  border-right: .15em solid salmon; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .05em; /* Adjust as needed */
  font-size: 32px;
  animation:
    typing2 3.5s steps(40, end) forwards,
    blink-caret .75s step-end infinite;
  animation-delay: 3.5s;
  animation-delay: 3.5s;
}

/* The typing effect */
@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes typing2 {
  from { width: 0 }
  to { width: 100% }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: salmon; }
}

.hero-two{
  align-self: center;
}

/* BODY */

.body-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.stack{
  display: flex;
  color: white;
  background-color: #111;
  flex-direction: column;
  text-align: center;
  padding: 5rem 0;
  width: 100%;
  font-family: 'Noto Sans Tangsa', sans-serif;
}

.stack h1{
  font-family: 'Noto Sans Tangsa', sans-serif;
  font-weight: bold;
  font-size: 35px;
}

.stack h3{
  opacity: .5;
  color: #999;
  margin-top: 1rem;
  animation: blink 6s infinite;
}

@keyframes blink {
  0%{
    opacity: .1;
  }
  50%{
    opacity: .8;
  }100%{
    opacity: .1;
  }
}

.stack ul {
  position: relative;
  display: flex;
  font-family: 'Poppins', sans-serif;
  justify-content: center;
  padding-inline-start: 0;
  margin: 2rem;
}

.stack li{
  list-style: none;
  margin: 1rem;
}

.stack li i{
  font-size: 54px;
}

.stack li div{
  height: 80px;
  width: 80px;
  font-size: 32px;
}

.stack label {
  position: relative;
}

.stack input[type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 80px;
  width: 80px;
  margin-left: -2.5rem;
  z-index: 100;
}

.stack div {
  position: relative;
  height: 80px;
  width: 80px;
  background: #18191f;
  color: #555;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 46px;
  cursor: pointer;
  margin: 0 4px;
  border-radius: 20px;
  box-shadow: -1px -1px 4px rgba(255, 255, 255, 0.05),
    4px 4px 6px rgba(0, 0, 0, 0.2),
    inset -1px -1px 4px rgba(255, 255, 255, 0.05),
    inset 1px 1px 1px rgba(0, 0, 0, 0.1);
}

.stack input[type="checkbox"]:checked ~ div {
  box-shadow: inset 0 0 2px rgba(255, 255, 255, 0.05),
    inset 4px 4px 6px rgba(0, 0, 0, 0.2);
  color: yellow;
  text-shadow: 0 0 15px yellow, 0 0 25px yellow;
  animation: glow 1.5s linear infinite;
}

@keyframes glow {
  0% {
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
  }
}

.not-lighted{
  position: relative;
  display: flex;
  justify-content: center;
}

.not-lighted div{
  background-color: transparent;
  border: none;
  box-shadow: none;
  font-size: 10px;
  cursor: default;
  color: white;
}

.not-lighted img{
  width: 60px;
}

.express{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 100;
  color: white;
}

.sql{
  font-family: Arial;
}

.projects{
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 4rem 2rem;
  background-color: #fff;
  color: black;
}

.projects h1{
  font-family: 'Noto Sans Tangsa', sans-serif;
  font-weight: bold;
  font-size: 35px;
  margin: 1rem;
}

.projects-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.projects-card{
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 500px;
  background-color: #111;
  border-radius: 5px;
  margin: 2rem 1rem;
  color: white;
}

.projects-card h2{
  font-size: 32px;
  margin: 1rem 0;
}

.projects-card p{
  margin: 1rem;
  font-weight: 300;
}

.projects-card a{
  color: #eee;
  font-size: 24px;
  margin: 1rem auto;
  width: 10%;
  justify-content: center;
  text-align: center;
  transition: 0.3s;
  text-decoration: none;
  padding-left: .3rem;
}

.projects-card a:hover{
  color: #fff;
  border-left: 3px solid salmon;
}

.project-info{
  display: flex;
  margin: 1rem 3rem;
  margin-bottom: 0;
}

.project-info p{
  align-self: center;
  font-size: 20px;
  width: 80%;
}

.project-slider{
  width: 100%;
  margin: 1rem;
}

.project-slider img{
  width: 100%;
  height: 300px;
}

.education{
  background-color: #111;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 20vh 0;
}

.education h1{
  font-family: 'Noto Sans Tangsa', sans-serif;
  font-weight: bold;
  font-size: 35px;
}

.education h2{
  opacity: .5;
  color: #999;
  margin: 1rem;
  margin-top: 2rem;
  animation: blink 6s infinite;
  font-size: 20px;
}

.education-wrapper{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 5rem;
  margin-top: 2rem;
}

.flip-box{
  background-color: transparent;
  width: 80%;
  height: 200px;
  margin: 0 auto;
}

.inner-box{
  display: flex;
  flex-direction: column;
  position: relative; 
  width: 100%;
  justify-content: center;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.front-box .back-box{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transition: transform 0.3s;
}

.inner-box i{
  font-size: 32px;
  margin: 1rem;
}

.back-box{
  display: none;
  transform: rotateY(180deg);
  background-color: white;
  color: black;
}

.flip-box:hover .inner-box{
  transform: rotateY(180deg);
}

.flip-box:hover .front-box{
  display: none;
}

.flip-box:hover .back-box{
  height: 200px;
  display: flex;
  flex-direction: column;
  background-color: #111;
  color: white;
}

.about{
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 20vh 0;
  background-color: #fff;
  color: black;
}

.about div{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3rem;
  margin: 3rem 6rem;
}

.about div p{
  flex: 1;
  border-right: 1px solid #aaa;
}

.about div p:last-of-type{
  border: none;
}

.about div p:nth-child(2){
  margin-right: 3px;
}

.about h1{
  font-family: 'Noto Sans Tangsa', sans-serif;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
}

.about p{
  font-size: 24px;
  font-weight: 300;
}

.contact{
  background-color: #111;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20vh 0;
}

.contact h1{
  font-family: 'Noto Sans Tangsa', sans-serif;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
}

.contact ul{
  display: flex;
  margin: 5rem 15rem;
  padding: 0;
}

.contact ul li{
  flex: 1;
  text-align: center;
  list-style: none;
  font-size: 18px;
  margin: 0 1rem;
  padding: 5px;
  transition: 0.6s;
}

.contact ul li:hover{
  background-color: salmon;
  border-top: 5px solid white;
  color: #111;
  border-radius: 2px;
}

.contact ul li:hover .contact ul li a{
  color: #111;
}

.contact ul li i{
  font-size: 32px;
  margin: 2rem;
}

.contact ul li a{
  color: white;
  text-decoration: none;
}

.contact h2{
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 25px;
  font-weight: 300;
}

.resumeDownload{
  text-decoration: none;  
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 24px;
  font-weight: bold;
  background-color: black;
  color: white;
  margin: 1rem auto;
  padding: 0.4rem 3rem;  
  cursor: pointer;
  transition: 0.6s;
  border: none;
  border-left: 3px solid salmon;
}

.resumeDownload:hover{
  background-color: #fff;
  color: black;
}

/* FOOTER */

footer{
  display: flex;
  flex-direction: column;
  background-color: #111;
  color: white;
  border-top: 1px solid #777;
}

footer h2{
  text-align: center;
}

footer ul{
  display: flex;
  margin: 2rem 20rem;
  padding: 0;
}

footer ul li{
  flex: 1;
  text-align: center;
  list-style: none;
}

footer ul li i{
  font-size: 15px;
  margin: 0.5rem;
}

footer ul li a{
  color: white;
  text-decoration: none;
}

.footer-logo{
  width: 140px;
  margin: 1rem auto;
}

.footer-logo img{
  width: 100%;
  opacity: .8;
}

footer h5{
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 1rem;
}